APP_NAME="CUP FICCT"
APP_ENV=production
APP_KEY=base64:REEMPLAZAR_CON_KEY_GENERADA
APP_DEBUG=false
APP_URL=https://REEMPLAZAR.onrender.com

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=REEMPLAZAR_HOST_POSTGRES_RENDER
DB_PORT=5432
DB_DATABASE=REEMPLAZAR_DATABASE
DB_USERNAME=REEMPLAZAR_USER
DB_PASSWORD=REEMPLAZAR_PASSWORD
DB_SSLMODE=require
DB_ENDPOINT=ep-curly-river-ailnx4ev

CACHE_STORE=file
SESSION_DRIVER=file
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=lax
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=local

MAIL_MAILER=log
MAIL_FROM_ADDRESS=no-reply@cupficct.com
MAIL_FROM_NAME="${APP_NAME}"

RUN_MIGRATIONS=true
VITE_APP_NAME="${APP_NAME}"
